<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>400031393676-9k207l5ikqq7k1rus3sa8b13hfl3805n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.400031393676-9k207l5ikqq7k1rus3sa8b13hfl3805n</string>
	<key>API_KEY</key>
	<string>AIzaSyBvNWyCrgdrD7zq6aVxo3gyOuI6hJh9aI8</string>
	<key>GCM_SENDER_ID</key>
	<string>400031393676</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.johnlandy.MusicApp</string>
	<key>PROJECT_ID</key>
	<string>musicapp-763f5</string>
	<key>STORAGE_BUCKET</key>
	<string>musicapp-763f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:400031393676:ios:431096c6da1963706f58a9</string>
	<key>DATABASE_URL</key>
	<string>https://musicapp-763f5.firebaseio.com</string>
</dict>
</plist>